<div *ngIf="isAuthorized">
  <div #chartTarget>
    chart target
  </div>
  <br>
  <div class="text-center">
    <div class="btn-group">
      <button type="button" class="btn" [ngClass]="{'btn-primary': days === 1, 'btn-secondary': days !== 1}" (click)="changeDataLength(1)">1 day</button>
      <button type="button" class="btn" [ngClass]="{'btn-primary': days === 7, 'btn-secondary': days !== 7}" (click)="changeDataLength(7)">7 days</button>
      <button type="button" class="btn" [ngClass]="{'btn-primary': days === 31, 'btn-secondary': days !== 31}" (click)="changeDataLength(31)">1 month</button>
      <button type="button" class="btn" [ngClass]="{'btn-primary': days === 365, 'btn-secondary': days !== 365}" (click)="changeDataLength(365)">1 year</button>  
    </div>
  </div>
  <br>
  <div *ngIf="currentReading">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Current</th>
          <th scope="col">Min</th>
          <th scope="col">Max</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Downstairs</th>
          <td>{{currentReading.one.temperature}}°</td>
          <td>{{downstairsMin}}°</td>
          <td>{{downstairsMax}}°</td>
        </tr>
        <tr>
          <th scope="row">Upstairs</th>
          <td>{{currentReading.two.temperature}}°</td>
          <td>{{upstairsMin}}°</td>
          <td>{{upstairsMax}}°</td>
        </tr>
        <tr>
          <th scope="row">Outside</th>
          <td>{{currentReading.temperatureOutside}}°</td>
          <td>{{outsideMin}}°</td>
          <td>{{outsideMax}}°</td>
        </tr>
        <tr>
          <th scope="row">Downstairs Humidity</th>
          <td>{{currentReading.one.humidity}}%</td>
          <td>{{downstairsHumidityMin}}%</td>
          <td>{{downstairsHumidityMax}}%</td>
        </tr>
        <tr>
          <th scope="row">Upstairs Humidity</th>
          <td>{{currentReading.two.humidity}}%</td>
          <td>{{upstairsHumidityMin}}%</td>
          <td>{{upstairsHumidityMax}}%</td>
        </tr>
      </tbody>
    </table>
    Last update: {{currentReading.timestamp | date:'short'}}<br>
    Total heating: {{heatTime/60.0 | number}} hours  
  </div>
</div>
<div *ngIf="!isAuthorized">
  You are not authorized to view this data.<br>
  <button (click)="logout()">Logout</button>
</div>

